<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gadau.pricecheck">

    <meta-data
        android:name="com.samsung.android.sdk.multiwindow.enable"
        android:value="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherpricecheck"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherpricecheckr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logic.AnyOrientationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InformationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity
            android:name=".logic.SwipeDismissBaseActivity"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ResInfoActivity"></activity>

    </application>

</manifest>